%h1 Listing ballots

%table
  %tr
    %th
    %th
    %th

  - @ballots.each do |ballot|
    %tr
      %td= link_to 'Show', ballot
      %td= link_to 'Edit', edit_ballot_path(ballot)
      %td= link_to 'Destroy', ballot, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Ballot', new_ballot_path
