%h2
  Welcome

%p
  GreenEggs is the place to create quick, free-form polls to find the preferences of a group.

%p
  = link_to "Create a new poll", new_poll_path


= image_tag("/assets/greenegg_logo.jpg")
  
