/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

body {
  background-color: #a1c3ce;
  font-size: 12px;
  margin: 30px 30px 30px 30px;
  font-family: 'Delius Swash Caps', cursive;
}

#content-wrapper {
  text-align: center;
}

#content {
  @include rounded-corners(10px);
  display: inline-block;
  text-align: left;
  min-width: 50%;
  max-width: 70%;
  padding-bottom: 3em;
  padding-top: 3em;
  padding-left: 5em;
  padding-right: 5em;
  background-color: #EBFFF8;
}

logo{
  z-index:2;
}

text_area{
  z-index:1;
}

.copy-to-clipboard.hidden,
.hidden {
  display: none;
}

.copy-to-clipboard {
  position: relative;
  width: 48px;
  height: 48px;
  display: inline-block;
}

.copy-to-clipboard > div {
  width: 48px;
  height: 48px;
}
