/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  background-color: #a1c3ce;
  font-size: 12px;
  margin: 30px 30px 30px 30px;
  font-family: 'Delius Swash Caps', cursive;
}

logo{
  z-index:2;
}

text_area{
  z-index:1;
}

.copy-to-clipboard.hidden,
.hidden {
  display: none;
}

.copy-to-clipboard {
  position: relative;
  width: 48px;
  height: 48px;
  display: inline-block;
}

.copy-to-clipboard > div {
  width: 48px;
  height: 48px;
}
