/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require "normalize"
 *= require "ballots"
 *= require "demopage"
 *= require "polls"
 *= require "buttons"
 *= require "visualize.jQuery"
*/

@import "bourbon";
@import "variables";

html, body {
  background-color: tint($blue, 0%);
}

#content-wrapper {
  text-align: center;
  padding: 12px 0px;
}

#content {
  @include box-shadow(0 0 5px tint($gray, 65%));
  display: inline-block;
  text-align: left;
  width: grid-width(12) + $gw-gutter;
  background-color: #ffffff;
  border-radius: 5px;
}

#header {
  #logo {
    color: $green;
  }
  padding: $gw-margin;
}

#poll-name {
  @include box-sizing(border-box);
  width: grid-width(12) + $gw-gutter;
  padding: $gw-margin / 3;
  padding-left: $gw-gutter;
  background-color: $green;
  color: white;

  h1 {
    font-size: 2em;
    margin: 0.5em;
  }
}

.copy-to-clipboard.hidden,
.hidden {
  display: none;
}

.copy-to-clipboard {
  position: relative;
  width: 48px;
  height: 48px;
  display: inline-block;
}

.copy-to-clipboard > div {
  width: 48px;
  height: 48px;
}

.ui-draggable {
  cursor: move;
}

#inner-content {
  width: grid-width(10);
  margin: 0px ($gw-column+$gw-margin) ($gw-column+$gw-margin) ($gw-column+$gw-margin);
}
