// Place all the styles related to the ballots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.formtastic.ballot li > label {
  display: none;
}

ul.choices li,
ul#poll-choices li {
  margin: 5px;
  padding: 5px;
  border: 1px solid gray;
  height: 50px;
  width: 224px;
}

div#container {
  width: 800px;
  overflow: hidden;
}

div#choices {
  float: left;
  display: block;
}

div#ballot {
  float: right;
  display: block;
}

li.slot {
  width: 224px;
  height: 50px;
  margin: 5px;
  padding: 5px;
  border: 1px solid gray;
}
