@import "bourbon";
@import "variables";

button,
a.button {
  height: 50px;
  width: 100px;
  margin: $gw-margin;
  color: black;
  text-decoration: none;
  border: 0px;
  font-size: 1em;
  background-color: $yellow;
  border-radius: 5px;

  &:hover {
    background-color: shade($yellow, 20%);
  }
}

a.button {
  line-height: 50px;
  display: inline-block;
  @include box-sizing(border-box);
  text-align: center;
}
