$gw-column: 60px;          // Column Width
$gw-gutter: 20px;          // Gutter Width
$gw-margin: $gw-gutter / 2;

//$blue: #acd2d5;
$green: #94c85c;
//$yellow: #fffdc2;
$blue: #ddd;
$yellow: #ddd;

$gray: #585957;
