<div ng-controller="CreateCtrl">
Creating New Poll

  <div ng-hide="createAnswers">
    <label>Ask your question:</label>
    <input id="question" type="text" placeholder="Question" ng-model='poll.name'>
    <label>Your email address:</label>
    <input id="email" type="text" placeholder="Email" ng-model='poll.ownerEmail'>


    Allow people
    to add custom options?
    <button id="go_to_preseed" ng-click="createAnswers=true">Save your poll</button>
  </div>

  <div ng-show="createAnswers" class="">
    <h1>{{poll.name}}</h1>
    <h4>Pre-seed answers</h4>
    <input type="text" id="answer" placeholder="Answer" ng-model='newChoice.original'>
    <button id="add-choice" ng-click="addChoice(newChoice)">Add</button>

    <div ng-repeat="choice in poll.choices" class="option">
      {{choice.original}} <a href="#" id="remove-choice" ng-click="removeChoice($index)">Remove</a>
    </div>

    <button id="save-poll" ng-click="savePoll(poll)">Save your poll</button>
  </div>

  <select-people current-person="" choose=""></select-people>


</div>