<div ng-controller="CreateCtrl" class="green-view">
  <div class="green-space">
  </div>
  <div ng-hide="createAnswers">
    <div>
      <label>Ask your question:</label>
      <input class="span6" id="question" type="text" placeholder="Question" ng-model='poll.name'>
      <label>Your email address:</label>
      <input class="span6" id="email" type="text" placeholder="Email" ng-model='poll.ownerEmail'>
    </div>

    <div>
      <br>
    Allow people to add
    <br>custom options?
    <switch></switch>
    </div>

    <div class="green-controls">
    </div>

  </div>

  <div class="row green-controls">
    <div class="span6">
      <hr/>
      <a id="go_to_preseed" class="green-btn" ng-click="createAnswers=true">
        <div>
          <img src="/assets/stats.png"> Preseed answers
        </div>
        <img src="/assets/right-arrow.png" class="right-arrow">
      </a>
    </div>
  </div>

  <div ng-show="createAnswers" class="green-view">
    <h1>{{poll.name}}</h1>
    <h4>Pre-seed answers</h4>
    <input type="text" id="answer" placeholder="Answer" ng-model='newChoice.original'>
    <button id="add-choice" ng-click="addChoice(newChoice)">Add</button>

    <div ng-repeat="choice in poll.choices" class="option">
      {{choice.original}} <a href="#" id="remove-choice" ng-click="removeChoice($index)">Remove</a>
    </div>

    <button id="save-poll" ng-click="savePoll(poll)">Save your poll</button>
  </div>

  <select-people current-person="" choose=""></select-people>


</div>

