<div class="green-view container-fluid" ng-controller="MainCtrl">
  <div class="row">
    <div class="span12">
      <img id="main-logo" class="centered" src="https://www.filepicker.io/api/file/rd4k55rZTfiTqVp31Pu6">
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div class="mobile-block">
        <div class="header">
          <img src="https://www.filepicker.io/api/file/na8XI7JCSkONqeVytaMp">
        </div>
        <div class="content">
          Green Eggs is the place to create quick, free-form polls to find the preferences of a group
          <a target="_self" class="connect-fb" href="/auth/facebook">Connect via Facebook</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid green-controls">
    <div class="span6">
        <a class="green-btn" href="/create">
          <div>
            <img src="/assets/add-poll.png"> Create a poll
          </div>
          <img src="/assets/right-arrow.png" class="right-arrow">
        </a>
    </div>
    <div class="span6">
        <a class="green-btn" href="/polls">
          <div>
            <img src="/assets/stats.png"> Your polls
          </div>
          <img src="/assets/right-arrow.png" class="right-arrow">
        </a>
    </div>
  </div>
</div>