<style>
  html body {
    background:white;
  }
</style>
<div class="poll-details green-view" ng-controller="PollCtrl">
  <p class="visible-desktop">Poll details</p>
  <p>
    <a id="addOption" href="#" ng-show="poll.allowUserChoices" class="btn" ng-click="addOptionStatus=true">+</a>
    {{poll.name}}
  </p>
  <div ng-show="addOptionStatus">
    <div class="input-append">
      <input type="text" ui-keypress="{enter: 'addOption(newChoice)'}" class="span6" id="answer" placeholder="Your option" ng-model='newChoice.original'>
      <button class="btn"  type="button" id="add-choice" ng-click="addOption(newChoice)">Add</button>
    </div>
  </div>
  <ul class="sortable">
    <li class="swipe option" ng-repeat="choice in ballot.choices" data-index="{{$index}}">
      <div class="content" data-index="{{$index}}">
        <img src='/assets/head.png' class="header-image">
          {{choice.original}}
        <div class="visible-desktop option-controls">
          <!-- <a href="#" ng-click="up($index)">/\</a>
          <a href="#" ng-click="down($index)">\/</a> -->
          <a ng-click="removeChoice(choice, $index)" href="#">Unchoose</a>
        </div>
        <div class="checkbox-filled">
            {{$index + 1}}
        </div>
      </div>
    </li>
   </ul>
  <div ng-repeat="choice in poll.choices" ng-mousedown="addChoice(choice, $index)" ng-click="addChoice(choice, $index)" class="option">
    <div class="content">
      {{choice.original}}
      <div class="checkbox-empty">
      </div>
    </div>
  </div>

  <div class="row-fluid green-controls">
    <div class="span12">
      <a id="save-poll" class="green-btn" ng-mousedown="saveBallot(ballot.choices)">
        <div>
          <img src="/assets/stats.png"> Save answer and view stats
        </div>
        <img src="/assets/right-arrow.png" class="right-arrow">
      </a>
    </div>
  </div>

</div>